.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro h3 {
  font-size: 24px;
  font-family: "Tangerine", sans-serif;
}

.intro img {
  width: 600px;
  height: auto;
}

.project_plan h2,
.project_plan h3,
.project_plan h4{
  align-items: center;
}

.gdd_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
}

.grid_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.grid_item h3,
.grid_item h4 {
  align-items: center;
}

.project_plan {
  padding-bottom: 50px;
}
