h1, h2 {
  text-align: center;
  padding: 50px 0px;
}

p {
  padding: 10px 50px;
}

.faq_accordion {
  background-color: rgb(226, 229, 248);
  cursor: pointer;
  width: 60%;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .faq_accordion:hover {
  background-color: rgb(195, 200, 240);
}

.faq_accordion:after {
  content: '\002B';
  color: rgb(195, 200, 240);
  float: right;
  margin-left: 5px;
  font-weight: bold;
}

.active:after {
  content: "\2212";
}

.faq_accordion_panel {
  padding: 0 18px;
  background-color: rgb(226, 229, 248);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.contact_form{
  text-align: center;
}

.donation {
  text-align: center;
}

.copyright {
  font-size: 8px;
}
